body{
	background-color:rgb(51, 51, 51);
}

h1 {
    color:white;
}

p {
	color:white;
}

label {
    color:white;
}

.error {
    color:red;
    font-size: 0.9em;
    /* margin: 4px 0 10px */
}

.invalid {
    border: 2px solid red;
}

canvas {
    border: 1px solid #ccc;
    display: block;
    margin-top: 10px;
}